# --- Database ---
PGHOST=10.98.68.254
PGPORT=5432
PGUSER=postgres
PGPASSWORD=LEpooh2901#
PGDATABASE=rpa_planning

# --- Server ---
PORT=5000
JWT_SECRET=change-me-to-a-long-random-string
JWT_EXPIRES_IN=8h
CORS_ORIGIN=http://localhost:3000

# --- Default Superadmin (created on first run if no users exist) ---
SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=bsmrpa1234
